<%= form_with(model: post, local: false, html: {class: "w-75 m-auto p-3 pb-0 border rounded bg-light", id: "post-form"}) do |form| %>
  <%= render partial: 'errors', locals: {post: post}%>

  <div class="field">
    <%= form.text_field :title, placeholder: "Title", class: "form-control" %>
  </div>

  <div class="field">
    <%= form.text_area :description, placeholder: "Description", class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Post', class: "btn btn-primary" %>
  </div>
<% end %>
