<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= markdownify @post.description %>
</p>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<div id="<%= @post.id %>_likes">
  <%= render partial: "likes", locals: {post: @post} %>
</div>

<h3>Comments</h3>

<%= render partial: 'comments/form', locals: {commentable: @post }%>

<%= render @post.comments.where(parent_id: nil) %>


